$acpath: "/fonts/AcuminProWide-Light";
$acpathit: "/fonts/AcuminProWideBook-Italic";
$supath: "/fonts/SuisseWorks-Light";
$acumin: "Acumin Pro Wide";
$suisse: "Suisse Works";
$acit: "Acumin Pro Wide Italic";
$bg: #161616;
$lbg: #e5e5e5;
$light: #f2e3e3;
$pad: 124px;
@mixin outline($col) {
  color: $col;
  // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $col;
}
.suisse {
  font-family: $suisse !important;
}
@mixin ease($what) {
  -webkit-transition: $what 750ms cubic-bezier(0.91, 0.02, 0.275, 1);
  -moz-transition: $what 750ms cubic-bezier(0.91, 0.02, 0.275, 1);
  -o-transition: $what 750ms cubic-bezier(0.91, 0.02, 0.275, 1);
  transition: $what 750ms cubic-bezier(0.91, 0.02, 0.275, 1); /* custom */
}
@font-face {
  font-family: "Acumin Pro Wide";
  src: url($acpath+".eot");
  src: url($acpath+".woff") format("woff"),
    url($acpath+".woff2") format("woff2"),
    url($acpath+".eot?#iefix") format("embedded-opentype"),
    url($acpath+".ttf") format("truetype");
  src: local("Acumin Pro Wide"), local("Acumin");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Suisse Works";
  src: url($supath+".eot");
  src: url($supath+".eot?#iefix") format("embedded-opentype"),
    url($supath+".woff2") format("woff2"), url($supath+".woff") format("woff"),
    url($supath+".ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Acumin Pro Wide Italic";
  src: url($acpathit+".ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wavetext {
  // &:hover {
  //   transition: color 0.5s ease;
  //   color: #f2e3e3;
  // }
}

@mixin waveLink($color) {
  .wave-link {
    @include ease(width);
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 0%;
    left: 0;
    &:before {
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: $color;
      content: "";
      @include ease(width);
    }
    &:hover {
      &:before {
        width: 0%;
      }
    }
  }
}

h1 {
  font-family: $acumin;
  // color: white;
  color: $bg;

  font-weight: normal;
}
p {
  font-family: $suisse;
  color: $bg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: $bg;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}
