// $acpath: "/fonts/AcuminProWide-Light";
// $acpathcon: "/fonts/AcuminProSemiCond-Regular";
// $supath: "/fonts/SuisseWorks-Light";

// Fonts
$acumin: "AcuminProWide-Regular";
$acuminc: "AcuminProSemiCond-Regular";
$suisse: "SuisseWorks-Regular";
$acit: "Acumin Pro Wide Italic";

// Colors
$bg: #161616;
$lightgrey: #a0a0a0;
$lbg: #e5e5e5;
$light: #f2e3e3;
$pad: 124px;
$top: 7em;

// Breakpoints
$mobile: 600px;
$tablet: 800px;
$notebook: 1024px;
$laptop: 1440px;
$desktop: 1600px;
$ultra: 1920px;

// Padding Mixins
$pad: 20%;
$medpad: 70px;
$mobilepad: 40px;

@mixin padding() {
  @include above($tablet) {
    margin: 0 $medpad;
  }
  @include above($notebook) {
    margin: 0 $pad;
  }
  @include below($tablet) {
    margin-left: $mobilepad;
    margin-right: $mobilepad;
  }
}

@mixin workpadding() {
  @include above($tablet) {
    margin: 0 $medpad;
  }
  @include above($notebook) {
    margin: 0 $pad;
  }
  @include below($tablet) {
    margin-left: $medpad;
    margin-right: $mobilepad;
  }
}

//Font Sizing
@mixin body() {
  @include above($tablet) {
    font-size: 24px;
  }
  @include below($tablet) {
    font-size: 18px;
  }
}

@mixin mini() {
  @include above($tablet) {
    font-size: 12px;
  }
  @include below($tablet) {
    font-size: 12px;
  }
}

@mixin sub() {
  @include above($tablet) {
    font-size: 32px;
  }
  @include below($tablet) {
    font-size: 24px;
  }
}

@mixin revsub() {
  @include below($tablet) {
    font-size: 32px;
  }
  @include above($tablet) {
    font-size: 24px;
  }
}

@mixin title() {
  @include above($tablet) {
    font-size: 54px;
  }
  @include below($tablet) {
    font-size: 32px;
  }
}

// Breakpoints
@mixin above($size) {
  @media screen and (min-width: $size + 1) {
    @content;
  }
}

@mixin below($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

// Transition ease

@mixin ease($what) {
  -webkit-transition: $what 750ms cubic-bezier(0.91, 0.02, 0.275, 1);
  -moz-transition: $what 750ms cubic-bezier(0.91, 0.02, 0.275, 1);
  -o-transition: $what 750ms cubic-bezier(0.91, 0.02, 0.275, 1);
  transition: $what 750ms cubic-bezier(0.91, 0.02, 0.275, 1); /* custom */
}

h1 {
  font-family: $acumin;
  // color: white;
  color: $bg;

  font-weight: normal;
}

.suisse {
  font-family: $suisse !important;
}

p {
  font-family: $suisse;
  color: $bg;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: $bg;
  overflow-wrap: break-word;
  hyphens: auto;
  pointer-events: none;
  line-height: 1.5;
}

html {
  overflow: hidden;
  height: 100%;
  overscroll-behavior-x: contain;
}
* {
  cursor: none !important;
  &:hover,
  &:focus {
    cursor: none;
  }
}

body {
  height: 100%;
  overflow: auto;
}
a {
  text-decoration: none;
  color: white;
}
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul {
  &:not(.focus) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
