@font-face {
    font-family: 'Acumin Pro Wide';
    src: url('AcuminProWide-Light.eot');
    src: url('AcuminProWide-Light.eot?#iefix') format('embedded-opentype'),
        url('AcuminProWide-Light.woff2') format('woff2'),
        url('AcuminProWide-Light.woff') format('woff'),
        url('AcuminProWide-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

